.navList {
    list-style-type: none;
    max-width: 320px;
    padding: 0;
}

.navLink {
    text-decoration: none;
    transition: .3s;
}

.navLink:hover {
    opacity: .6;
}

.text {
    font-family: "Jet Brains Mono", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: rgba(133,133,173,1);
}

.active {
    color: rgba(242,242,243,1)
}

.about {
    font-size: 16px;
    font-weight: 400;
    font-family: "Jet Brains Mono", sans-serif;
    line-height: 24px;
    color: rgba(133,133,173,1);
    max-width: 320px;
    margin-top: 125px;
}