.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.image {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.title {
    text-shadow: 0 0 16px rgba(51, 51, 255, .25), 0 0 8px rgba(51, 51, 255, .25), 0 4px 32px rgba(51, 51, 255, .5);

}

