.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {

}

.list {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    text-align: center;

}