.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    background: rgba(28,28,33, 1);
    border: 1px solid rgba(76, 76, 255, .2);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, .04), 0px 16px 24px rgba(0, 0, 0, .04), 0px 4px 8px rgba(0, 0, 0, .04), 0px 0px 1px rgba(0, 0, 0, .04);
    border-radius: 40px;
    z-index: 5;
    opacity: 0;
    transition: .7s;
}

.enable {
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.closeIcon {
    cursor: pointer;
    transition: .2s;
}

.closeIcon_withoutContent {
    position: absolute;
    top: 45px;
    right: 45px;
}

.closeIcon:hover {
    opacity: .6;
}