.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    margin: 0;
}

.ingredientDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.listItem {
    list-style-type: none;
}

