.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 0;
}

.ingredientDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 0;
}

.listItem {
    list-style-type: none;
}

.img {
    max-width: 480px;
    max-height: 240px;
    margin: 0 auto;
}

.head {
    font-family: "Jet Brains Mono",sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin: 120px 0 20px 0;
}

