.section {
    max-width: 600px;
    max-height: 912px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.totalScore {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.list {
    padding: 15px 0;
    margin: 0;
    height: fit-content;
}

.listItem {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.items {
    overflow-y: scroll;
    height: fit-content;
    outline: none;
    padding-right: 15px;
    padding-left: 0;
    max-height: 580px;
}

.bunareaTop {
    border-radius: 88px 88px 40px 40px;
    background: #2f2f37;
    border: #8585ad 2px dashed;
    height: 72px;
    width: 535px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.bunareaBtm {
    border-radius: 40px 40px 88px 88px;
    background: #2f2f37;
    border: #8585ad 2px dashed;
    height: 72px;
    width: 535px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;

}

.ingredientArea {
    background: #2f2f37;
    border: #8585ad 2px dashed;
    height: 72px;
    width: 535px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin: 15px 0;
}



.items::-webkit-scrollbar {
    width: 8px;
}

.items::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 173, 1);
    border-radius: 0;
}

.items::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
}

.items::-webkit-scrollbar-thumb:hover {
    background: rgba(51, 51, 255, .25);    
}
